.p{/*
	background-color: whites;
border-style:solid;
boarder-width:5px;
margin:3px;padding:50px 50px 10px 0px; width:90%; height:95%;
*/
padding: 10px 140px 0px 0px;
border-style:solid;
border-width:5px;
width:75%; 
height:800px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 180px;
    margin-left: 100px;

	}
	.s{
	
		border-top:2px dotted;
	}